* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* =====================Chung================================ */
button:hover {
  cursor: pointer;
}
.btn:hover {
  cursor: pointer;
  background-color: #f7cd59;
  color: black;

}
:root {
  --font-heading: Sen, sans-serif;
}

a {
  text-decoration: none;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
  
}

/* ==============================Header======================= */
header.fixed {
  background-color: #f7cd59;
  position: sticky;
  top: -28px;
  border-bottom:0.5px solid ;
  z-index: 9;
}

header .main-content {
  padding-top: 36px;
  padding-bottom: 8px;
}

header .body {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .nav {
  display: flex;
  margin-left: auto;
}
header .nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .nav ul li a {
  position: relative;
  padding: 8px 21px;
  font-size: 1.6rem;
  color: #4e4e4d;
}
header .nav ul li a:hover {
  color: rgb(0, 0, 0);
  font-size: 1.9rem;
  text-shadow: #0000 0px 0px 0px;
  font-weight: 600;
}

header .nav ul li.active a {
  color: #171100;
  font-weight: 600;
}
header .nav ul li.active a::after {
  left: 21px;

  position: absolute;
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  background: #171100;
  border-radius: 1px;
}
.btn {
  min-width: 144px;
  margin-left: 49px;
  padding: 0 16px;
  background-color: #171100;
  border-radius: 999px;
  color: #fff;
  display: inline-block;
  line-height: 50px;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}

.btn.btn-signUp:hover{
background-color: rgb(147, 128, 77);
}
/* ==========================hero====================================================== */
main .hero {
  background-color: #f7cd59;
}
main .hero .body {
  padding-top: 56px;
  padding-bottom: 65px;

  display: flex;
}
.hero .media-block {
  position: relative;
  width: 48%;
}
.hero .content-block {
  padding-top: 64px;
  padding-left: 130px;
  width: 52%;
}

.hero .media-block .hero-summary {
  width: 270px;
  position: absolute;
  right: 0;
  bottom: 46px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: #0000000d 0px 16px 32px 0px;
  line-height: 16px;
  padding: 24px;
}
.hero .media-block .hero-summary .item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .media-block .hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .item .icon {
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  background-color: #fff9e8;
  border-radius: 50%;
  margin-right: 16px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}
.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.hero .media-block .thumb {
  width: 470px;
  height: 685px;
  border-radius: 20px;
  display: inline;
  line-height: 16px;
  object-fit: cover;
}

.hero .content-block .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -1.16px;
}
.hero {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
}
.desc1 {
  margin-top: 22px;
  margin-bottom: 38px;
}
.hero .cta-group {
  display: flex;
  margin-bottom: 48px;
}
.hero .watch-video {
  margin-left: 28px;
  justify-content: center;
  align-items: center;
  display: flex;
  background: none;
  border: none;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  width: 40px;
  height: 40px;
}

.hero .watch-video p {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.content-block .desc strong {
  margin-right: 15px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
}
.content-block .desc strong.str-70 {
  margin-left: 27px;
}

.hero .content-block .btn:hover{
  background-color: rgb(147, 128, 77);
}
/* =======================Popular======================================== */
.popular .main-content {
  background-color: #fff;
}
.popular {
  padding: 65px 0;
  margin: 135px 0;
}
.popular .popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular .popular-top .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
  width: 458px;
}

.popular .popular-top .control-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ffb900;
  color: #ffb900;
}
.popular .popular-top .control-btn:hover {
  background-color: #ffb900;
  color: #fff;
}

.popular .popular-bottom {
  margin-top: 56px;
  display: flex;
  gap:30px
}
.popular .popular-bottom .thumb {
  width: 368px;
  height: 287px;
  border-radius: 12px 12px 0px 0px;
}
.popular .popular-bottom .info{
  padding: 22px;
}
.popular .popular-bottom .foot,
.popular .popular-bottom .head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular .popular-bottom .head span{
  color: #ffb900;
}
.popular .popular-bottom .desc{
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
  margin-top: 6px;
  margin-bottom: 12px;
}

.popular .popular-bottom .foot,
.popular .popular-bottom .head .title{
  color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

/* ======================================feedback========================================= */
.feedback{
  background-color: rgb(46, 33, 0);
  padding: 96px;
}


.feedback .feedback-item{
  display: flex;
  justify-content: space-between;
}
.feedback .main-content .avatar{
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 18px;
}

.feedback .feedback-item .info h2{
 color: #fff;
 font-size: 2.4rem;
 margin-bottom: 5px;

}

.feedback .feedback-item .info .desc{
    color: #b1b0ad;
    font-size: 1.4rem;
    line-height: 1.86;
    /* margin-bottom: 28px; */
}

.feedback .feedback-item .info .dots{
  display: flex;
 gap: 6px;
}
.feedback .feedback-item .info .dots .dot.active,
.feedback .feedback-item .info .dots .dot:hover{
  background-color: #ffb900;
}

.feedback .feedback-item .info .dots .dot{
  border-radius: 50%;
  height: 6px;
  width: 6px;
background-color: #634700;
}

/* =============================content phải ==================================================================== */

.feedback .feedback-item .content{
width: 65%;

}

.feedback .feedback-item .content blockquote{
  color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.54;
}

/* ========================feature============================================= */
.feature {
  margin: 135px 0;
}
.feature .main-content .body{
  padding: 65px 0;
  display: flex;
  justify-content: space-between;
}

.feature .main-content .body .images{
  gap: 30px;
  display: flex;
}

.feature .main-content .body .img{
 
  object-fit: cover;
  width: 270px;
  height: 405px;
  border-radius: 16px;
}
.feature .main-content .body .images .img:first-child{
  margin-top: 34px;
}

.feature .main-content .body .content{
 
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.feature .main-content .body .content .desc{

  color: #5f5b53;
    font-size: 1.6rem;
    line-height: 1.75;
}

.feature .main-content .body .content .btn{
  margin-left: 0;
}
.feature .main-content .body2{
  flex-direction: row-reverse;
}
.feature .main-content .body2 .img{
  width: 470px;
  height: 440px;
}

.feature .main-content .body2 .content{
  width: 49%;
}

/* ==========================popular 2==================================== */
.plopular2 .popular-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plopular2 .popular-top .desc{
  text-align: center;
}
